.activities-list > dt {
	font-size: 1.15em;
	font-style: italic;
	font-weight: bolder;
	margin-top: 2em;
}

p + dl > dt {
	text-decoration: underline;
}

p + dl > dt::after {
	content: ":";
}

.activities-list p,
.activities-list > dd > dl > dd {
	max-width: 50em;
}
